.explanation {
	font-size: 1.15em;
	color: mix($blue, #666, 40%);
	padding: 40px;
	@include display-flex;
	@include flex-props(row wrap, space-around, center, center);

	h3 {
		color: darken($blue, 20%);
		font-size: 1.5em;
		margin-bottom: 0;
	}

	&.even { 
		background: mix($blue, #fff, 7%);
		img {
			order: 3;
		}
	}
}